[Unit]
Description=WARP Marta Proxy
After=network.target

[Service]
Type=simple
DynamicUser=yes
RuntimeDirectory=warp-proxy
StateDirectory=warp-proxy
Restart=always
ExecStart=/usr/local/bin/warp_proxy
EnvironmentFile=/usr/local/etc/marta.env

[Install]
WantedBy=multi-user.target

